@model DateTime

@{
    ViewData["Title"] = "Book";
}

<h2>Book</h2>

<div class="page-content header-clear-larger">


    <div class="calendar box-shadow">
        <div class="cal-header">
            <h4 class="cal-title center-text uppercase bolder bg-highlight">@DateTime.Now.Month</h4>
            <h6 class="cal-title-left color-white bolder"><i class="fa fa-chevron-left"></i></h6>
            <h6 class="cal-title-right color-white bolder"><i class="fa fa-chevron-right"></i></h6>
        </div>
        <div class="cal-days bg-gray-light bottom-0">
            @{

                DateTime now = DateTime.Now;
                for (int i = 0; i < 7; i++)
                {
                    <a href="#">@now.DayOfWeek</a>
                    now = now.AddDays(1);
                }
            }
            <div class="clear"></div>
        </div>
        <div class="cal-dates cal-dates-border">
            @{
                var time = DateTime.Now;
                time = time.AddDays(30);

                for (DateTime date = DateTime.Now; date < time; date = date.AddDays(1))
                {
                    <a href="#" class="event" id="@date.Day" name="@date.Day" onclick="CreateEvent(this.id)"> @date.Day</a>
                }
            }
            <div class="clear"></div>
        </div>
    </div>

    <div class="decoration decoration-margins"></div>

    <div class="calendar box-shadow">
        <div class="cal-footer">
            <h6 class="cal-sub-title uppercase bold bg-highlight">Schedule Box</h6>
            <span class="cal-message top-15 bottom-15">
                <i class="fa fa-bell font-18 color-green-dark"></i>
                <strong class="color-gray-dark">Reminder: Call the plumber for Kitchen Sink</strong>
                <strong class="color-gray-dark">Reminder: Today is Karla Black's Birthday.</strong>
            </span>
            <div class="decoration bottom-0"></div>
            <div class="cal-schedule">
                <em>08:00 PM<br>10:00 AM</em>
                <strong>Closing Hours</strong>
                <span><i class="fa fa-map-marker"></i>Envato Headquarters</span>
            </div>
            
        </div>
    </div>

    <div class="decoration decoration-margins"></div>

    <form method="post" name="Form" >
        <div class="form-control">
            <input type="text" />
            <input type="text" />
            <input type="text" />
        </div>
    </form>

    <script>
        function CreateEvent(id) {
            if ($('#' + id).hasClass('event')) {

                var form = document.createElement("form");
                form.setAttribute("method", "post");
                form.setAttribute("action", "AddEvent");

                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("name", "id");
                hiddenField.setAttribute("value", "bob");
                form.appendChild(hiddenField);
                document.body.appendChild(form);    // Not entirely sure if this is necessary           
                form.submit();
            
            }

        }


    </script>

</div>