@model Salons



@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Name Details</h2>

<hr />
<a asp-controller="Salon" asp-action="AddProduct" asp-route-id="@Model.Id" class="btn btn-primary" role="button">Add Product</a>
<hr />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Product name</th>
            <th>Product Price</th>
            <th>Product Discount</th>
            <th>Book</th>
            <th>Details</th>
        </tr>
    </thead>


    <tbody>
        @foreach (var item in Model.Products)
        {
        <tr>

            <th>
                @item.Name
            </th>
            <th>@item.Price</th>
            <th>@item.Discount</th>
            <th><a asp-controller="Salon" asp-action="ProductWithWorkers" asp-route-id="@item.Id" class="btn btn-primary" role="button">Book</a></th>
            <th><a asp-controller="Salon" asp-action="ProductDetails" asp-route-id="@item.Id" class="btn btn-primary" role="button">Details</a></th>


        </tr>
        }
    </tbody>
</table>

